Repository FISCO-BCOS/bcos-cpp-sdk, pull requests merged in 2022-03, with the labels that each got.

#98 sync code from master
  CMakeLists.txt
  ChangeLog.md
  cmake/config.cmake
  sample/amop/subscribe.cpp
Labels: sync-code, 3.0.0-rc3

#107 sync code from bcos-framework
  bcos-cpp-sdk/bcos-framework/interfaces/consensus/ConsensusInterface.h
  bcos-cpp-sdk/bcos-framework/interfaces/gateway/GroupNodeInfo.h
  bcos-cpp-sdk/bcos-framework/interfaces/multigroup/ChainNodeInfo.h
  bcos-cpp-sdk/bcos-framework/interfaces/multigroup/GroupInfo.h
  bcos-cpp-sdk/bcos-framework/interfaces/multigroup/GroupInfoCodec.h
  bcos-cpp-sdk/bcos-framework/interfaces/protocol/Block.h
  bcos-cpp-sdk/bcos-framework/interfaces/protocol/Protocol.h
  bcos-cpp-sdk/bcos-framework/interfaces/sealer/SealerInterface.h
  bcos-cpp-sdk/bcos-framework/interfaces/txpool/TxPoolInterface.h
Labels: sync-code, bcos-framework

#111 Release 3.0.0 rc3
  .github/workflows/workflow.yml
  CMakeLists.txt
  bcos-cpp-sdk/CMakeLists.txt
  bcos-cpp-sdk/SdkFactory.cpp
  bcos-cpp-sdk/amop/AMOP.cpp
  bcos-cpp-sdk/event/EventSubParams.cpp
  bcos-cpp-sdk/event/EventSubTopicTools.h
  bcos-cpp-sdk/multigroup/ChainNodeInfo.h
  bcos-cpp-sdk/multigroup/GroupInfo.h
  bcos-cpp-sdk/rpc/JsonRpcImpl.cpp
  bcos-cpp-sdk/rpc/JsonRpcImpl.h
  bcos-cpp-sdk/rpc/JsonRpcInterface.h
  bcos-cpp-sdk/utilities/Common.h
  bcos-cpp-sdk/utilities/abi/ContractABICodec.cpp
  bcos-cpp-sdk/utilities/abi/ContractABICodec.h
  bcos-cpp-sdk/utilities/abi/ContractABIType.cpp
  bcos-cpp-sdk/utilities/abi/ContractABIType.h
  bcos-cpp-sdk/utilities/abi/ContractEventTopic.h
  bcos-cpp-sdk/utilities/crypto/Common.h
  bcos-cpp-sdk/utilities/crypto/KeyPairBuilder.cpp
  bcos-cpp-sdk/utilities/crypto/KeyPairBuilder.h
  bcos-cpp-sdk/utilities/logger/LogInitializer.cpp
  bcos-cpp-sdk/utilities/logger/LogInitializer.h
  bcos-cpp-sdk/utilities/tx/Transaction.h
  bcos-cpp-sdk/utilities/tx/TransactionBuilder.cpp
  bcos-cpp-sdk/utilities/tx/TransactionBuilder.h
  bcos-cpp-sdk/utilities/tx/TransactionBuilderInterface.h
  bcos-cpp-sdk/utilities/tx/TransactionBuilderService.cpp
  bcos-cpp-sdk/utilities/tx/TransactionBuilderService.h
  bcos-cpp-sdk/utilities/tx/tars/tup/Tars.h
  bcos-cpp-sdk/utilities/tx/tars/tup/TarsDisplayer.h
  bcos-cpp-sdk/utilities/tx/tars/tup/TarsJson.h
  bcos-cpp-sdk/utilities/tx/tars/tup/TarsType.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_autoptr.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_common.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_ex.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_json.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_platform.h
  bcos-cpp-sdk/ws/ProtocolVersion.cpp
  bcos-cpp-sdk/ws/Service.cpp
  cmake/InstallBcosCrypto.cmake
  cmake/InstallBcosUtilities.cmake
  cmake/config.cmake
  sample/CMakeLists.txt
  sample/amop/CMakeLists.txt
  sample/eventsub/CMakeLists.txt
  sample/rpc/CMakeLists.txt
  sample/tx/CMakeLists.txt
  sample/tx/deploy_hello.cpp
  test/CMakeLists.txt
  test/unittests/abi/ContractEventTopicTest.cpp
  test/unittests/event/EventSubTest.cpp
Labels: sync-code, 3.0.0-rc3

#109 support protocol handshake
  bcos-cpp-sdk/ws/HandshakeResponse.cpp
  bcos-cpp-sdk/ws/HandshakeResponse.h
  bcos-cpp-sdk/ws/ProtocolVersion.cpp
  bcos-cpp-sdk/ws/Service.cpp
  bcos-cpp-sdk/ws/Service.h
  test/unittests/ws/HandshakeResponseTest.cpp
  test/unittests/ws/ProtocolVersionTest.cpp
Labels: protocol, compatibility, feature

#114 sync code from main
  cmake/config.cmake
Labels: sync-code
