Repository FISCO-BCOS/bcos-cpp-sdk, pull requests merged in 2022-01, with the labels that each got.

#69 support subscribe multiple topics
  sample/amop/subscribe.cpp
Labels: AMOP, optimize, demo

#72 add tars include to fix windows compile
  .github/workflows/workflow.yml
  CMakeLists.txt
  bcos-cpp-sdk/CMakeLists.txt
  bcos-cpp-sdk/utilities/abi/ContractABICodec.cpp
  bcos-cpp-sdk/utilities/abi/ContractABICodec.h
  bcos-cpp-sdk/utilities/abi/ContractABIType.cpp
  bcos-cpp-sdk/utilities/abi/ContractABIType.h
  bcos-cpp-sdk/utilities/tx/Transaction.h
  bcos-cpp-sdk/utilities/tx/tars/tup/Tars.h
  bcos-cpp-sdk/utilities/tx/tars/tup/TarsDisplayer.h
  bcos-cpp-sdk/utilities/tx/tars/tup/TarsJson.h
  bcos-cpp-sdk/utilities/tx/tars/tup/TarsType.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_autoptr.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_common.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_ex.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_json.h
  bcos-cpp-sdk/utilities/tx/tars/util/tc_platform.h
  cmake/config.cmake
  sample/amop/CMakeLists.txt
  sample/eventsub/CMakeLists.txt
  sample/rpc/CMakeLists.txt
  sample/tx/CMakeLists.txt
  sample/tx/call_hello.cpp
Labels: protocol, compile, tars

#73 Introduce bcos-crypto dependency
  CMakeLists.txt
  cmake/InstallBcosCrypto.cmake
  cmake/InstallBcosUtilities.cmake
  cmake/config.cmake
Labels: dependency, crypto
